<div class="row">
  <div class="col-md-3">
    <div class="sticky-top">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Category</h5>
          <mat-divider class="bg-warning m-0"></mat-divider>
          <mat-nav-list>
            <a routerLink="/products" mat-list-item> All Categories</a>
            <ng-container *ngFor="let c of categories">
              <mat-divider></mat-divider>
              <a routerLink="/products" [ngStyle]="{'background-color':category === c.key ? 'lightgrey' : '' }" mat-list-item [queryParams]="{category: c.key}">{{
                c.payload.val().name }} </a>
            </ng-container>
          </mat-nav-list>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <div class="row">
      <ng-container *ngFor="let product of filteredProducts; let i=index">
        <div class="col-md-4 col-sm-4">
          <app-product-card [item]="product" [shopping-cart]="cart"></app-product-card>
          <div *ngIf="(i+1) % 2 === 0" class="w-100"></div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
