<h2 class="text-dark">{{ isDelete ? "Update Product" : "New Product" }}</h2>
<mat-divider class="bg-warning mt-3 mb-3"></mat-divider>
<div class="row">
  <div class="col-md-6">
    <mat-card class="example-card">
      <form #f="ngForm" (ngSubmit)="save(f.value)">
        <div class="form-group">
          <label for="title">Title</label>
          <input
            [(ngModel)]="product.title"
            name="title"
            #title="ngModel"
            id="title"
            type="text"
            class="form-control"
            required
          />
          <div
            class="alert alert-danger"
            *ngIf="title.touched && title.invalid"
          >
            Title is required.
          </div>
        </div>
        <div class="form-group">
          <label for="price">Price</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">BDT</span>
            </div>
            <input
              [(ngModel)]="product.price"
              name="price"
              #price="ngModel"
              id="price"
              type="number"
              class="form-control"
              required
              [min]="0"
            />
          </div>
          <div
            class="alert alert-danger"
            *ngIf="price.touched && price.invalid"
          >
            <div *ngIf="price.errors.required">Price is required.</div>
            <div *ngIf="price.errors.min">Price should be 0 or higher.</div>
          </div>
        </div>
        <div class="form-group">
          <label for="category">Category</label>
          <select
            [(ngModel)]="product.category"
            name="category"
            #category="ngModel"
            id="category"
            class="form-control"
            required
          >
            <option value=""></option>
            <option *ngFor="let c of categories" [value]="c.key">
              {{ c.payload.val().name }}
            </option>
          </select>
          <div
            class="alert alert-danger"
            *ngIf="category.touched && category.invalid"
          >
            Category is required.
          </div>
        </div>
        <div class="form-group">
          <label for="imageUrl">Image URL</label>
          <input
            [(ngModel)]="product.imageUrl"
            name="imageUrl"
            #imageUrl="ngModel"
            id="imageUrl"
            type="text"
            class="form-control"
            required
            url
          />
          <div
            class="alert alert-danger"
            *ngIf="imageUrl.touched && imageUrl.invalid"
          >
            <div *ngIf="imageUrl.errors.required">Image URL is required.</div>
            <div *ngIf="imageUrl.errors.url">Please enter a valid URL.</div>
          </div>
        </div>
        <button class="btn btn-sm btn-outline-success" type="submit">
          <i class="material-icons">
            save_alt
          </i>
          Save
        </button>
        <button
          class="btn btn-sm btn-outline-danger"
          type="button"
          (click)="delete()"
        >
          <i class="material-icons">
            delete_forever
          </i>
          {{ isDelete ? "Delete" : "Cancel" }}
        </button>
        <button
          class="btn btn-sm btn-light"
          type="button"
          (click)="goBack()"
          *ngIf="isDelete"
        >
          <i class="material-icons">
            cancel
          </i>
          Cancel
        </button>
      </form>
    </mat-card>
  </div>
  <div class="col-md-6 pt-1">
    <mat-card
      *ngIf="product.title || product.price || product.imageUrl"
      style="width: 20rem;"
    >
      <img
        mat-card-image
        class="cover rounded-top mb-0"
        [src]="imageUrl.value"
        [alt]="title.value"
        *ngIf="product.imageUrl"
      />
      <mat-card-footer class="card-footer" *ngIf="product">
        <mat-card-title>{{ product.title }}</mat-card-title>
        <mat-chip-list>
          <mat-chip>
            {{ product.price | currency: "BDT":"symbol-narrow" }}
          </mat-chip>
        </mat-chip-list>
      </mat-card-footer>
    </mat-card>
  </div>
</div>
