<div class="row">
  <ng-container *ngIf="cart$ | async as cart">
    <div class="col-md-3">
      <mat-card-title>
        <h2 class="text-dark">
          Shopping Cart
        </h2>
      </mat-card-title>
      <mat-card-subtitle>
        <p>Your shopping cart has {{ cart.totalItemsCount }} items</p>
      </mat-card-subtitle>
    </div>
    <mat-divider [vertical]="true"> </mat-divider>
    <div class="col-md-8">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of cart.items">
            <td>
              <div
                [style.backgroundImage]="'url(' + item.imageUrl + ')'"
                class="thumbnail"
              ></div>
            </td>
            <td>
              {{ item.title }}
            </td>
            <td>
              <app-product-quantity [product]="item" [shopping-cart]="cart">
              </app-product-quantity>
            </td>
            <td>{{ item.totalPrice | currency: "BDT":"symbol-narrow" }}</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th>Total</th>
            <th></th>
            <th></th>
            <th>
              {{ cart.totalItemsPrice | currency: "BDT":"symbol-narrow" }}
            </th>
          </tr>
        </tfoot>
      </table>
      <div class="row">
        <div class="col-md-10 offset-1">
          <div class="flex-container">
            <div>
              <button
                class="btn btn-outline-danger btn-sm"
                *ngIf="cart.totalItemsCount"
                (click)="removeCartItems()"
              >
                Clear Cart
              </button>
            </div>
            <div>
              <a
                class="btn btn-outline-primary btn-sm"
                *ngIf="cart.totalItemsCount"
                [routerLink]="['/check-out']"
              >
                Check Out
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
