<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4" style="margin-top: 50px">
    <mat-card>
      <mat-card-title>Signup/Loging</mat-card-title>
      <mat-card-subtitle>
        Please signup or login with a Google Account
      </mat-card-subtitle>
      <mat-card-content>
        <div style="text-align:center">
          <button mat-raised-button color="primary" (click)="onLogin()">
            <i
              class="material-icons"
              style="padding-right: 5px;vertical-align: middle;"
            >
              account_box </i
            >Signup/Login With Google
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-md-4"></div>
</div>
