<h2 class="text-dark">Manage Order</h2>
<mat-divider class="bg-warning mt-3 mb-3"></mat-divider>
<ng-container *ngIf="order | async as order">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Customer Name</th>
        <th scope="col">Order Date</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of order">
        <td>{{ item.sippingInfo.fullname }}</td>
        <td>{{ item.dateTime | date: "medium" }}</td>
        <td>
          <button
            class="btn btn-sm btn-outline-primary"
            (click)="orderDetail(item)"
          >
            <i class="material-icons">
              details
            </i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</ng-container>
