<div class="row no-gutters">
  <div class="col-md-2">
    <button class="btn btn-block btn-secondary btn-sm" (click)="addToCart()">
      <i class="material-icons" >
        add
      </i>
    </button>
  </div>
  <div class="col text-center pt-1">
    {{ shoppingCart.getQuantity(product) }} items
  </div>
  <div class="col-md-2">
    <button
      class="btn btn-block btn-secondary btn-sm"
      (click)="removeFromCart()"
    >
      <i class="material-icons" >
        remove
      </i>
    </button>
  </div>
</div>
