<!--The content below is only a placeholder and can be replaced.-->
<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Logo</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li>
        <a href="sass.html">Sass</a>
      </li>
      <li>
        <a href="badges.html">Components</a>
      </li>
      <li>
        <a href="collapsible.html">JavaScript</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <div style="text-align:center">
    <button mat-raised-button color="warn"> Welcome to Materialize Angular!</button>
  </div>

  <router-outlet></router-outlet>
</div>