.custom {
  margin-bottom: 30px;
}

.card-footer {
  padding: 0;
}
.thumbnail {
  width: 150px;
  height: 150px;
  border-radius: 20%;
  background-size: cover;
  display: inline-block;
}

/*
mat-card img{
  object-fit: cover; //this makes de image in src fit to the size of specified below
  width: 100%; // Here you can use wherever you want to specify the width and also the height of the <img>
  height: 80%;
} */
