.custom {
  margin-bottom: 30px;
  max-height: 350px;
}

.card-footer {
  padding: 0;
}

.thumbnail {
  width: 15rem;
  height: 15rem;
  border-radius: 1%;
  background-size: cover;
  display: inline-block;
}
