/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "/assets/css/theming.scss";

body {
  padding-top: 80px;
  padding-bottom: 30px;
  font-family: "Roboto", Courier, monospace;
}

i.material-icons {
  vertical-align: middle;
}

table {
  max-height: 420px;
  overflow-y: auto;
  display: inline-flexbox;
}

th {
  color: DARKSLATEGRAY;
}
