<h2 class="text-dark">Check Out</h2>
<mat-divider class="bg-warning mt-3 mb-3"></mat-divider>
<div class="row">
  <div class="col-md-5 mb-2">
    <form #f="ngForm" (ngSubmit)="checkOut()">
      <div class="form-group">
        <label for="fname">Full Name</label>
        <input
          [(ngModel)]="shippingInfo.fullname"
          name="fname"
          #fname="ngModel"
          id="fname"
          type="text"
          class="form-control"
          required
        />
        <div class="alert alert-danger" *ngIf="fname.touched && fname.invalid">
          Name is required.
        </div>
      </div>
      <div class="form-group">
        <label for="address">Address</label>
        <input
          [(ngModel)]="shippingInfo.fulladdress"
          name="address"
          #address="ngModel"
          id="address"
          type="text"
          class="form-control"
          required
        />
        <div
          class="alert alert-danger"
          *ngIf="address.touched && address.invalid"
        >
          Address is required
        </div>
      </div>
      <div class="form-group">
        <label for="phone">Phone</label>
        <input
          [(ngModel)]="shippingInfo.phonenum"
          name="phone"
          #phone="ngModel"
          id="phone"
          type="tel"
          class="form-control"
          required
        />
        <div class="alert alert-danger" *ngIf="phone.touched && phone.invalid">
          Phone number is required
        </div>
      </div>
      <button
        mat-raised-button
        [disabled]="!f.valid"
        type="submit"
        class="btn btn-sm btn-primary"
      >
        <i class="material-icons">
          shopping_basket
        </i>
        Order
      </button>
    </form>
  </div>
  <mat-divider [vertical]="true"> </mat-divider>
  <div class="col-md-5">
    <app-shoppingcart-detail
      [shopping-cart]="shoppingCart"
    ></app-shoppingcart-detail>
  </div>
</div>
